<?xml version='1.0' encoding='utf-8'?>

<widget
    id="com.farra.app"
    version="1.0.9"
    xmlns="http://www.w3.org/ns/widgets"
    xmlns:cdv="http://cordova.apache.org/ns/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <name>Farra</name>

    <description>Farra App - finds the place</description>

    <author
        email="dev@cordova.apache.org"
        href="https://cordova.apache.org">
        Apache Cordova Team
    </author>

    <!-- صفحه شروع -->
    <content src="splash.html" />

    <!-- دسترسی‌ها -->
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />

    <!-- تنظیمات ظاهری -->
    <preference name="StatusBarBackgroundColor" value="#383838ff" />
    <preference name="StatusBarStyle" value="default" />
    <preference name="Fullscreen" value="true" />
    <preference name="Orientation" value="portrait" />
    <preference name="StatusBarOverlaysWebView" value="true" />
    <preference name="allowInlineMediaPlayback" value="true" />

    <!-- اسپلاش -->
    <preference name="ShowSplashScreen" value="false" />
    <preference name="AutoHideSplashScreen" value="true" />
    <preference name="SplashScreenDelay" value="0" />

    <!-- ================= ANDROID ================= -->
    <platform name="android">

        <!-- آیکون‌ها -->
        <icon src="www/resources/48-48.jpg" density="mdpi"/>
        <icon src="www/resources/72-72.jpg" density="hdpi"/>
        <icon src="www/resources/96-96.jpg" density="xhdpi"/>
        <icon src="www/resources/144-144.jpg" density="xxhdpi"/>
        <icon src="www/resources/192-192.jpg" density="xxxhdpi"/>

        <!-- Permissions (روش صحیح Cordova) -->
        <config-file parent="/manifest" target="AndroidManifest.xml">
            <uses-permission android:name="android.permission.BLUETOOTH"/>
            <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
            <uses-permission android:name="android.permission.BLUETOOTH_CONNECT"/>
            <uses-permission android:name="android.permission.BLUETOOTH_SCAN"/>
            <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
            <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
        </config-file>
         <preference name="AndroidXEnabled" value="true" />
    <config-file parent="/*" target="AndroidManifest.xml">
        <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
        <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    </config-file>

    </platform>

<platform name="ios">
    <preference name="ios-CFBundleVersion" value="108" />

    <!-- iPhone -->
    <icon src="www/resources/48-48.jpg"  width="20"  height="20" />
    <icon src="www/resources/72-72.jpg"  width="29"  height="29" />
    <icon src="www/resources/96-96.jpg"  width="40"  height="40" />
    <icon src="www/resources/144-144.jpg" width="60"  height="60" />
    <icon src="www/resources/192-192.jpg" width="76"  height="76" />

    <!-- ✅ App Store (خیلی حیاتی) -->
    <icon src="www/resources/1024-1024.jpg" width="1024" height="1024" />
    <config-file platform="ios" target="*-Info.plist" parent="NSPhotoLibraryAddUsageDescription">
        <string>To save transaction image</string>
    </config-file>
</platform>



</widget>