:root {
  --english-caption-font-family: "Bonyade Koodak VF", Helvetica;
  --english-caption-font-weight: 400;
  --english-caption-font-size: 10px;
  --english-caption-letter-spacing: 0px;
  --english-caption-line-height: 0px;
  --english-caption-font-style: normal;
  --english-heading-h1-font-family: "Bonyade Koodak VF", Helvetica;
  --english-heading-h1-font-weight: 700;
  --english-heading-h1-font-size: 64px;
  --english-heading-h1-letter-spacing: 0px;
  --english-heading-h1-line-height: 0px;
  --english-heading-h1-font-style: normal;
  --english-heading-h3-font-family: "Bonyade Koodak VF", Helvetica;
  --english-heading-h3-font-weight: 700;
  --english-heading-h3-font-size: 40px;
  --english-heading-h3-letter-spacing: 0px;
  --english-heading-h3-line-height: 0px;
  --english-heading-h3-font-style: normal;
  --english-heading-h2-font-family: "Bonyade Koodak VF", Helvetica;
  --english-heading-h2-font-weight: 500;
  --english-heading-h2-font-size: 48px;
  --english-heading-h2-letter-spacing: 0px;
  --english-heading-h2-line-height: 0px;
  --english-heading-h2-font-style: normal;
  --english-heading-h4-font-family: "Bonyade Koodak VF", Helvetica;
  --english-heading-h4-font-weight: 700;
  --english-heading-h4-font-size: 32px;
  --english-heading-h4-letter-spacing: 0px;
  --english-heading-h4-line-height: 0px;
  --english-heading-h4-font-style: normal;
  --english-heading-h5-font-family: "Bonyade Koodak VF", Helvetica;
  --english-heading-h5-font-weight: 500;
  --english-heading-h5-font-size: 24px;
  --english-heading-h5-letter-spacing: 0px;
  --english-heading-h5-line-height: 0px;
  --english-heading-h5-font-style: normal;
  --english-heading-h6-font-family: "Bonyade Koodak VF", Helvetica;
  --english-heading-h6-font-weight: 700;
  --english-heading-h6-font-size: 20px;
  --english-heading-h6-letter-spacing: 0px;
  --english-heading-h6-line-height: 0px;
  --english-heading-h6-font-style: normal;
  --english-body-lcopy-font-family: "Bonyade Koodak VF", Helvetica;
  --english-body-lcopy-font-weight: 400;
  --english-body-lcopy-font-size: 20px;
  --english-body-lcopy-letter-spacing: 0px;
  --english-body-lcopy-line-height: 0px;
  --english-body-lcopy-font-style: normal;
  --english-body-copy-font-family: "Bonyade Koodak VF", Helvetica;
  --english-body-copy-font-weight: 400;
  --english-body-copy-font-size: 16px;
  --english-body-copy-letter-spacing: 0px;
  --english-body-copy-line-height: 0px;
  --english-body-copy-font-style: normal;
  --english-body-scopy-font-family: "Bonyade Koodak VF", Helvetica;
  --english-body-scopy-font-weight: 400;
  --english-body-scopy-font-size: 14px;
  --english-body-scopy-letter-spacing: 0px;
  --english-body-scopy-line-height: 0px;
  --english-body-scopy-font-style: normal;
  --english-button-large-font-family: "Bonyade Koodak VF", Helvetica;
  --english-button-large-font-weight: 500;
  --english-button-large-font-size: 24px;
  --english-button-large-letter-spacing: 0px;
  --english-button-large-line-height: 24px;
  --english-button-large-font-style: normal;
  --english-button-medium-font-family: "Bonyade Koodak VF", Helvetica;
  --english-button-medium-font-weight: 500;
  --english-button-medium-font-size: 20px;
  --english-button-medium-letter-spacing: 0px;
  --english-button-medium-line-height: normal;
  --english-button-medium-font-style: normal;
  --english-button-small-font-family: "Bonyade Koodak VF", Helvetica;
  --english-button-small-font-weight: 500;
  --english-button-small-font-size: 16px;
  --english-button-small-letter-spacing: 0px;
  --english-button-small-line-height: normal;
  --english-button-small-font-style: normal;
  --english-textbutton-large-font-family: "Bonyade Koodak VF", Helvetica;
  --english-textbutton-large-font-weight: 500;
  --english-textbutton-large-font-size: 20px;
  --english-textbutton-large-letter-spacing: 0px;
  --english-textbutton-large-line-height: 20px;
  --english-textbutton-large-font-style: normal;
  --english-textbutton-medium-font-family: "Bonyade Koodak VF", Helvetica;
  --english-textbutton-medium-font-weight: 500;
  --english-textbutton-medium-font-size: 16px;
  --english-textbutton-medium-letter-spacing: 0px;
  --english-textbutton-medium-line-height: normal;
  --english-textbutton-medium-font-style: normal;
  --english-textbutton-small-font-family: "Bonyade Koodak VF", Helvetica;
  --english-textbutton-small-font-weight: 500;
  --english-textbutton-small-font-size: 14px;
  --english-textbutton-small-letter-spacing: 0px;
  --english-textbutton-small-line-height: normal;
  --english-textbutton-small-font-style: normal;
  --english-textbox-large-default-font-family: "Bonyade Koodak VF", Helvetica;
  --english-textbox-large-default-font-weight: 300;
  --english-textbox-large-default-font-size: 20px;
  --english-textbox-large-default-letter-spacing: 0px;
  --english-textbox-large-default-line-height: normal;
  --english-textbox-large-default-font-style: normal;
  --english-textbox-large-active-font-family: "Bonyade Koodak VF", Helvetica;
  --english-textbox-large-active-font-weight: 500;
  --english-textbox-large-active-font-size: 20px;
  --english-textbox-large-active-letter-spacing: 0px;
  --english-textbox-large-active-line-height: normal;
  --english-textbox-large-active-font-style: normal;
  --english-textbox-large-filled-font-family: "Bonyade Koodak VF", Helvetica;
  --english-textbox-large-filled-font-weight: 500;
  --english-textbox-large-filled-font-size: 20px;
  --english-textbox-large-filled-letter-spacing: 0px;
  --english-textbox-large-filled-line-height: normal;
  --english-textbox-large-filled-font-style: normal;
  --english-textbox-medium-default-font-family: "Bonyade Koodak VF", Helvetica;
  --english-textbox-medium-default-font-weight: 400;
  --english-textbox-medium-default-font-size: 16px;
  --english-textbox-medium-default-letter-spacing: 0px;
  --english-textbox-medium-default-line-height: normal;
  --english-textbox-medium-default-font-style: normal;
  --english-textbox-medium-active-font-family: "Bonyade Koodak VF", Helvetica;
  --english-textbox-medium-active-font-weight: 500;
  --english-textbox-medium-active-font-size: 16px;
  --english-textbox-medium-active-letter-spacing: 0px;
  --english-textbox-medium-active-line-height: normal;
  --english-textbox-medium-active-font-style: normal;
  --english-textbox-medium-filled-font-family: "Bonyade Koodak VF", Helvetica;
  --english-textbox-medium-filled-font-weight: 500;
  --english-textbox-medium-filled-font-size: 16px;
  --english-textbox-medium-filled-letter-spacing: 0px;
  --english-textbox-medium-filled-line-height: normal;
  --english-textbox-medium-filled-font-style: normal;
}
